<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>servlets.UsersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AutosServlet</servlet-name>
        <servlet-class>servlets.AutosServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AutosServlet</servlet-name>
        <url-pattern>/autos</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>config.SpringServletContextListenerForJdbcProject</listener-class>
    </listener>

</web-app>